Repository digital-asset/cn-quickstart: changes, and which CircleCI parameters are due for each by the changed paths.
All: shared_enabled, run-integration-test, run-docs-validation

Improvement: updated authentication mechanism in wallet.page.ts test ti match Splice functionality
  quickstart/integration-test/pages/wallet.page.ts
Due: shared_enabled, run-integration-test

Code Review
  quickstart/docker/modules/pqs/compose.yaml
Due: shared_enabled, run-integration-test

Fix: replaced grpccurl usage of canton image health check to curl -f as in canton 0.6.5 image of splice, grcpcurl was removed
  quickstart/docker/modules/localnet/docker/canton/health-check.sh
Due: shared_enabled, run-integration-test

Update quickstart/.env
  quickstart/.env
Due: shared_enabled, run-integration-test

Fix: reverted formatting in LicenseApiImpl
  quickstart/backend/src/main/java/com/digitalasset/quickstart/service/LicenseApiImpl.java
Due: shared_enabled, run-integration-test

Improvement: on backend side added Choice Context improvements to cover 3.5 Canton new functionality
  quickstart/backend/src/main/java/com/digitalasset/quickstart/service/LicenseApiImpl.java
Due: shared_enabled, run-integration-test

Fix: fixed the parsing of Choice Context for License Renewal
  quickstart/backend/src/main/java/com/digitalasset/quickstart/service/LicenseApiImpl.java
  quickstart/backend/src/main/java/com/digitalasset/quickstart/utility/ChoiceContextUtils.java
Due: shared_enabled, run-integration-test

Make sure Quick Start works with 3.5 #33098 (#354)
  quickstart/.env
  quickstart/backend/src/main/java/com/digitalasset/quickstart/service/LicenseApiImpl.java
  quickstart/backend/src/main/java/com/digitalasset/quickstart/utility/ChoiceContextUtils.java
  quickstart/docker/modules/daml-shell/compose.env
  quickstart/docker/modules/localnet/conf/splice/sv/app.conf
  quickstart/docker/modules/localnet/docker/canton/health-check.sh
  quickstart/docker/modules/pqs/compose.yaml
  quickstart/integration-test/pages/wallet.page.ts
Due: shared_enabled, run-integration-test

Update docs links
  README.md
Due: shared_enabled

Potential fix for pull request finding
  README.md
Due: shared_enabled

Update docs links (#362)
  README.md
Due: shared_enabled

update to sdk bundle 3.5.2
  nix/dpm.nix
Due: shared_enabled

update projects to 3.5.2
  quickstart/daml/external-test-sources/splice-amulet-test/daml.yaml
  quickstart/daml/external-test-sources/splice-token-standard-test/daml.yaml
  quickstart/daml/external-test-sources/splice-token-test-trading-app/daml.yaml
  quickstart/daml/external-test-sources/splice-wallet-test/daml.yaml
  quickstart/daml/licensing-tests/daml.yaml
  quickstart/daml/licensing/daml.yaml
Due: shared_enabled, run-integration-test

update to sdk bundle 3.5.2 (#363)
  nix/dpm.nix
  quickstart/daml/external-test-sources/splice-amulet-test/daml.yaml
  quickstart/daml/external-test-sources/splice-token-standard-test/daml.yaml
  quickstart/daml/external-test-sources/splice-token-test-trading-app/daml.yaml
  quickstart/daml/external-test-sources/splice-wallet-test/daml.yaml
  quickstart/daml/licensing-tests/daml.yaml
  quickstart/daml/licensing/daml.yaml
Due: shared_enabled, run-integration-test

uptick scribe and splice versions
  quickstart/.env
  quickstart/docker/modules/devnet/compose.env
Due: shared_enabled, run-integration-test

uptick scribe and splice versions #364
  quickstart/docker/modules/localnet/docker/canton/health-check.sh
  quickstart/docker/modules/localnet/docker/splice/health-check.sh
Due: shared_enabled, run-integration-test

uptick scribe and splice versions #364 (#365)
  quickstart/docker/modules/localnet/docker/canton/health-check.sh
  quickstart/docker/modules/localnet/docker/splice/health-check.sh
Due: shared_enabled, run-integration-test

uptick scribe and splice versions (#364)
  quickstart/.env
  quickstart/docker/modules/devnet/compose.env
  quickstart/docker/modules/localnet/docker/canton/health-check.sh
  quickstart/docker/modules/localnet/docker/splice/health-check.sh
Due: shared_enabled, run-integration-test

Upgrade transcode libraries to 3.5.X
  quickstart/buildSrc/src/main/kotlin/Dependencies.kt
  quickstart/daml/build.gradle.kts
Due: shared_enabled, run-integration-test

Upgrade transcode libraries to 3.5.X (#366)
  quickstart/buildSrc/src/main/kotlin/Dependencies.kt
  quickstart/daml/build.gradle.kts
Due: shared_enabled, run-integration-test

Use PQS docker image after rename
  quickstart/.env
  quickstart/docker/modules/devnet/compose.env
  quickstart/docker/modules/devnet/compose.yaml
  quickstart/docker/modules/pqs/compose.env
Due: shared_enabled, run-integration-test

Rename scribe to PQS
  quickstart/.env
  quickstart/docker/modules/devnet/compose.env
  quickstart/docker/modules/devnet/compose.yaml
  quickstart/docker/modules/devnet/env/pqs.env
  quickstart/docker/modules/keycloak/compose.env
  quickstart/docker/modules/keycloak/env/app-user/on/oauth2.env
  quickstart/docker/modules/pqs/compose.env
  quickstart/docker/modules/pqs/compose.yaml
  quickstart/docker/modules/pqs/env/app-provider/on/oauth2.env
  quickstart/docker/modules/pqs/env/app-provider/on/shared-secret.env
  quickstart/docker/modules/pqs/env/app-user/on/oauth2.env
  quickstart/docker/modules/pqs/env/app-user/on/shared-secret.env
  quickstart/docker/modules/pqs/env/pqs.env
  quickstart/docker/modules/pqs/env/sv/on.env
  quickstart/docker/modules/pqs/onboarding/app-provider/on/oauth2.env
  quickstart/docker/modules/pqs/onboarding/app-user/on/oauth2.env
  sdk/docs/sharable/sdk/quickstart/observe/observability-troubleshooting-overview.rst
  sdk/docs/sharable/sdk/quickstart/operate/deploy-quickstart-to-devnet.rst
Due: shared_enabled, run-integration-test, run-docs-validation

update splice and scribe versions
  quickstart/.env
  quickstart/docker/modules/pqs/compose.env
Due: shared_enabled, run-integration-test

Add Vagrantfile for local development
  README.vagrant.md
  Vagrantfile
Due: shared_enabled

Vagrantfile: No more Daml sdk install
  Vagrantfile
Due: shared_enabled

Vagrantfile: update and optimize
  README.vagrant.md
  Vagrantfile
Due: shared_enabled

Update 002-topology.md
  sdk/docs/user/002-topology.md
Due: shared_enabled, run-docs-validation

update json codeblock formatting in json-api.rst doc file
  sdk/docs/sharable/sdk/quickstart/operate/json-api.rst
Due: shared_enabled, run-docs-validation

fix(docs): move participant node inside optional box in high-level topology diagram (#378)
  sdk/docs/user/002-topology.md
Due: shared_enabled, run-docs-validation

update json codeblock formatting in json-api.rst doc file (#380)
  sdk/docs/sharable/sdk/quickstart/operate/json-api.rst
Due: shared_enabled, run-docs-validation

build: add BACKEND selector with dual-backend Make/Compose/Docker plumbing
  .gitignore
  quickstart/Makefile
  quickstart/buildSrc/src/main/kotlin/ConfigureProfilesTask.kt
  quickstart/daml/build.gradle.kts
  quickstart/docker/backend-js/Dockerfile
  quickstart/docker/backend-js/compose.yaml
  quickstart/docker/backend-js/start.sh
Due: shared_enabled, run-integration-test

feat(backend-js): Canton JSON Ledger API client with typed Daml command bindings
  quickstart/backend-js/src/canton/auth.ts
  quickstart/backend-js/src/canton/commands.ts
  quickstart/backend-js/src/canton/ledger.ts
  quickstart/backend-js/src/token-standard/client.ts
Due: shared_enabled, run-integration-test

docs: document the Node.js backend in the README
  README.md
Due: shared_enabled

feat(backend-js): PQS database layer and licensing repository
  quickstart/backend-js/src/domain/licensing/repository.ts
  quickstart/backend-js/src/pqs/contracts.ts
  quickstart/backend-js/src/pqs/db.ts
Due: shared_enabled, run-integration-test

feat(backend-js): auth subsystem with OAuth2, shared-secret, and tenants
  quickstart/backend-js/src/auth/admin-gate.ts
  quickstart/backend-js/src/auth/cookies.ts
  quickstart/backend-js/src/auth/csrf.ts
  quickstart/backend-js/src/auth/jwt-admin.ts
  quickstart/backend-js/src/auth/oauth2-registry.ts
  quickstart/backend-js/src/auth/oauth2.ts
  quickstart/backend-js/src/auth/session.ts
  quickstart/backend-js/src/auth/shared-secret.ts
  quickstart/backend-js/src/auth/test-mode-party.ts
  quickstart/backend-js/src/routes/admin.ts
  quickstart/backend-js/src/routes/login-links.ts
  quickstart/backend-js/src/routes/user.ts
  quickstart/backend-js/src/tenants/repository.ts
Due: shared_enabled, run-integration-test

feat(backend-js): licensing service and HTTP routes
  quickstart/backend-js/src/domain/licensing/mappers.ts
  quickstart/backend-js/src/domain/licensing/service.ts
  quickstart/backend-js/src/routes/app-install-requests.ts
  quickstart/backend-js/src/routes/app-installs.ts
  quickstart/backend-js/src/routes/feature-flags.ts
  quickstart/backend-js/src/routes/license-renewal-requests.ts
  quickstart/backend-js/src/routes/licenses.ts
Due: shared_enabled, run-integration-test

feat(backend-js): bootstrap Fastify server with config and tooling
  quickstart/backend-js/.gitignore
  quickstart/backend-js/package-lock.json
  quickstart/backend-js/package.json
  quickstart/backend-js/src/config.ts
  quickstart/backend-js/src/http/app.ts
  quickstart/backend-js/src/server.ts
  quickstart/backend-js/tsconfig.json
Due: shared_enabled, run-integration-test

fix: distinguish 404 from 500 on DELETE /admin/tenant-registrations
  quickstart/backend-js/src/routes/admin.ts
Due: shared_enabled, run-integration-test

daml package manager
  sdk/docs/sharable/sdk/quickstart/operate/json-api.rst
Due: shared_enabled, run-docs-validation

Path conditions:
  shared_enabled: any of: .*
  run-integration-test: any of: (quickstart/.*|.circleci/configs/workflow_test.yml)
  run-docs-validation: any of: (sdk/.*|.circleci/configs/workflow_docs.yml)
