Repository digital-asset/cn-quickstart: changes, and which CircleCI parameters are due for each by the changed paths.
All: shared_enabled, run-integration-test, run-docs-validation

always true for shared, make it part of the same block
  .circleci/config.yml
Due: shared_enabled

re-add the name
  .circleci/config.yml
Due: shared_enabled

fix name again so it doesnt change and add docs config to regex for workflow
  .circleci/config.yml
Due: shared_enabled

Add daml-test to CircleCI and split up configuration (#268)
  .circleci/config.yml
  .circleci/configs/workflow_docs.yml
  .circleci/configs/workflow_shared.yml
  .circleci/configs/workflow_test.yml
Due: shared_enabled, run-integration-test

Update README.md
  README.md
Due: shared_enabled

docs: guidance for safari users
  sdk/docs/sharable/sdk/quickstart/operate/explore-the-demo.rst
Due: shared_enabled, run-docs-validation

docs: guidance for safari users (#271)
  sdk/docs/sharable/sdk/quickstart/operate/explore-the-demo.rst
Due: shared_enabled, run-docs-validation

add coreutils to nix conf
  nix/shell.nix
Due: shared_enabled

docs: canton console connections
  sdk/docs/sharable/sdk/quickstart/operate/explore-the-demo.rst
  sdk/docs/sharable/sdk/quickstart/operate/images/app-provider.png
  sdk/docs/sharable/sdk/quickstart/operate/images/app-user.png
  sdk/docs/sharable/sdk/quickstart/operate/images/sv.png
Due: shared_enabled, run-docs-validation

docs: canton console connections (#272)
  sdk/docs/sharable/sdk/quickstart/operate/explore-the-demo.rst
  sdk/docs/sharable/sdk/quickstart/operate/images/app-provider.png
  sdk/docs/sharable/sdk/quickstart/operate/images/app-user.png
  sdk/docs/sharable/sdk/quickstart/operate/images/sv.png
Due: shared_enabled, run-docs-validation

remove logic for different date comamnds and revert back to using date as it is provided by nix coreutils package
  quickstart/Makefile
Due: shared_enabled, run-integration-test

docs: capture-logs date or gdate (#265)
  nix/shell.nix
  sdk/docs/sharable/sdk/quickstart/troubleshoot/cnqs-faq.rst
Due: shared_enabled, run-docs-validation

docs: update fast instructions
  sdk/docs/sharable/sdk/quickstart/download/cnqs-installation.rst
Due: shared_enabled, run-docs-validation

update instruction order
  sdk/docs/sharable/sdk/quickstart/download/cnqs-installation.rst
Due: shared_enabled, run-docs-validation

docs: disable observability
  sdk/docs/sharable/sdk/quickstart/download/cnqs-installation.rst
Due: shared_enabled, run-docs-validation

docs: update instructions
  sdk/docs/sharable/sdk/quickstart/download/cnqs-installation.rst
Due: shared_enabled, run-docs-validation

docs: update fast instructions (#273)
  sdk/docs/sharable/sdk/quickstart/download/cnqs-installation.rst
Due: shared_enabled, run-docs-validation

docs: tap cc wallet
  sdk/docs/sharable/sdk/quickstart/operate/explore-the-demo.rst
Due: shared_enabled, run-docs-validation

docs: cc tap image
  sdk/docs/sharable/sdk/quickstart/operate/images/tap-canton-wallet.png
Due: shared_enabled, run-docs-validation

docs: tap cc wallet (#274)
  sdk/docs/sharable/sdk/quickstart/operate/explore-the-demo.rst
  sdk/docs/sharable/sdk/quickstart/operate/images/tap-canton-wallet.png
Due: shared_enabled, run-docs-validation

docs: lnav in CN
  sdk/docs/sharable/sdk/quickstart/operate/images_lnav/capture-logs-terminal-log.png
  sdk/docs/sharable/sdk/quickstart/operate/images_lnav/hyperledger-labs.png
  sdk/docs/sharable/sdk/quickstart/operate/images_lnav/list-all-logs.png
  sdk/docs/sharable/sdk/quickstart/operate/images_lnav/list-logs.png
  sdk/docs/sharable/sdk/quickstart/operate/images_lnav/lnav-collapse-info.png
  sdk/docs/sharable/sdk/quickstart/operate/images_lnav/lnav-date-of-entry.png
  sdk/docs/sharable/sdk/quickstart/operate/images_lnav/lnav-expand-info.png
  sdk/docs/sharable/sdk/quickstart/operate/images_lnav/lnav-top-of-log.png
  sdk/docs/sharable/sdk/quickstart/operate/images_lnav/lnav-version.png
  sdk/docs/sharable/sdk/quickstart/operate/images_lnav/lnav-view-live-logs.png
  sdk/docs/sharable/sdk/quickstart/operate/images_lnav/lnav-view-log-entry.png
  sdk/docs/sharable/sdk/quickstart/operate/images_lnav/lnav-view-log-origination.png
  sdk/docs/sharable/sdk/quickstart/operate/images_lnav/make-capture-logs.png
  sdk/docs/sharable/sdk/quickstart/operate/lnav-in-cn.rst
Due: shared_enabled, run-docs-validation

Update README.md (#276)
  README.md
Due: shared_enabled

docs: complete lnav guide
  sdk/docs/sharable/sdk/quickstart/operate/images_lnav/lnav-app-install-request-event.png
  sdk/docs/sharable/sdk/quickstart/operate/images_lnav/lnav-collapse-expand-metadata.png
  sdk/docs/sharable/sdk/quickstart/operate/images_lnav/lnav-collapse-info.png
  sdk/docs/sharable/sdk/quickstart/operate/images_lnav/lnav-expand-info.png
  sdk/docs/sharable/sdk/quickstart/operate/images_lnav/lnav-filter-in-app-install-request.png
  sdk/docs/sharable/sdk/quickstart/operate/images_lnav/lnav-filter-in-listlicenses.png
  sdk/docs/sharable/sdk/quickstart/operate/images_lnav/lnav-ls-logs.png
  sdk/docs/sharable/sdk/quickstart/operate/images_lnav/lnav-prune-logs.png
  sdk/docs/sharable/sdk/quickstart/operate/images_lnav/lnav-time-toggle.png
  sdk/docs/sharable/sdk/quickstart/operate/images_lnav/lnav-trace-id.png
  sdk/docs/sharable/sdk/quickstart/operate/images_lnav/lnav-troubleshooting.png
  sdk/docs/sharable/sdk/quickstart/operate/lnav-in-cn.rst
Due: shared_enabled, run-docs-validation

docs: remove images
  sdk/docs/sharable/sdk/quickstart/operate/images_lnav/capture-logs-terminal-log.png
  sdk/docs/sharable/sdk/quickstart/operate/images_lnav/list-all-logs.png
  sdk/docs/sharable/sdk/quickstart/operate/images_lnav/list-logs.png
  sdk/docs/sharable/sdk/quickstart/operate/images_lnav/lnav-date-of-entry.png
  sdk/docs/sharable/sdk/quickstart/operate/images_lnav/lnav-top-of-log.png
  sdk/docs/sharable/sdk/quickstart/operate/images_lnav/lnav-view-live-logs.png
  sdk/docs/sharable/sdk/quickstart/operate/lnav-in-cn.rst
Due: shared_enabled, run-docs-validation

docs: final details
  sdk/docs/sharable/sdk/quickstart/operate/images_lnav/lnav-collapse-expand-metadata.png
  sdk/docs/sharable/sdk/quickstart/operate/images_lnav/lnav-troubleshooting.png
  sdk/docs/sharable/sdk/quickstart/operate/images_lnav/lnav-view-log-entry.png
  sdk/docs/sharable/sdk/quickstart/operate/images_lnav/lnav-view-log-origination.png
  sdk/docs/sharable/sdk/quickstart/operate/lnav-in-cn.rst
Due: shared_enabled, run-docs-validation

docs: move images
  sdk/docs/sharable/sdk/quickstart/operate/images/lnav-app-install-request-event.png
  sdk/docs/sharable/sdk/quickstart/operate/images/lnav-collapse-expand-metadata.png
  sdk/docs/sharable/sdk/quickstart/operate/images/lnav-filter-in-app-install-request.png
  sdk/docs/sharable/sdk/quickstart/operate/images/lnav-filter-in-listlicenses.png
  sdk/docs/sharable/sdk/quickstart/operate/images/lnav-hyperledger-labs.png
  sdk/docs/sharable/sdk/quickstart/operate/images/lnav-ls-logs.png
  sdk/docs/sharable/sdk/quickstart/operate/images/lnav-make-capture-logs.png
  sdk/docs/sharable/sdk/quickstart/operate/images/lnav-prune-logs.png
  sdk/docs/sharable/sdk/quickstart/operate/images/lnav-time-toggle.png
  sdk/docs/sharable/sdk/quickstart/operate/images/lnav-trace-id.png
  sdk/docs/sharable/sdk/quickstart/operate/images/lnav-troubleshooting.png
  sdk/docs/sharable/sdk/quickstart/operate/images/lnav-version.png
  sdk/docs/sharable/sdk/quickstart/operate/images/lnav-view-log-entry.png
  sdk/docs/sharable/sdk/quickstart/operate/images/lnav-view-log-origination.png
  sdk/docs/sharable/sdk/quickstart/operate/lnav-in-cn.rst
Due: shared_enabled, run-docs-validation

fix: refactored absolute paths
  sdk/docs/sharable/sdk/quickstart/operate/lnav-in-cn.rst
Due: shared_enabled, run-docs-validation

fix: add orphan for toctree
  sdk/docs/sharable/sdk/quickstart/operate/lnav-in-cn.rst
Due: shared_enabled, run-docs-validation

docs: lnav in CN (#275)
  sdk/docs/sharable/sdk/quickstart/operate/images/lnav-app-install-request-event.png
  sdk/docs/sharable/sdk/quickstart/operate/images/lnav-collapse-expand-metadata.png
  sdk/docs/sharable/sdk/quickstart/operate/images/lnav-filter-in-app-install-request.png
  sdk/docs/sharable/sdk/quickstart/operate/images/lnav-filter-in-listlicenses.png
  sdk/docs/sharable/sdk/quickstart/operate/images/lnav-hyperledger-labs.png
  sdk/docs/sharable/sdk/quickstart/operate/images/lnav-ls-logs.png
  sdk/docs/sharable/sdk/quickstart/operate/images/lnav-make-capture-logs.png
  sdk/docs/sharable/sdk/quickstart/operate/images/lnav-prune-logs.png
  sdk/docs/sharable/sdk/quickstart/operate/images/lnav-time-toggle.png
  sdk/docs/sharable/sdk/quickstart/operate/images/lnav-trace-id.png
  sdk/docs/sharable/sdk/quickstart/operate/images/lnav-troubleshooting.png
  sdk/docs/sharable/sdk/quickstart/operate/images/lnav-version.png
  sdk/docs/sharable/sdk/quickstart/operate/images/lnav-view-log-entry.png
  sdk/docs/sharable/sdk/quickstart/operate/images/lnav-view-log-origination.png
  sdk/docs/sharable/sdk/quickstart/operate/lnav-in-cn.rst
Due: shared_enabled, run-docs-validation

fix: remove orphan
  sdk/docs/sharable/sdk/quickstart/operate/lnav-in-cn.rst
Due: shared_enabled, run-docs-validation

fix index, add lnav
  sdk/docs/index.rst
  sdk/docs/sharable/sdk/quickstart/operate/index.rst
Due: shared_enabled, run-docs-validation

restore operate index
  sdk/docs/sharable/sdk/quickstart/operate/index.rst
Due: shared_enabled, run-docs-validation

fix: remove orphan (#277)
  sdk/docs/index.rst
  sdk/docs/sharable/sdk/quickstart/operate/index.rst
  sdk/docs/sharable/sdk/quickstart/operate/lnav-in-cn.rst
Due: shared_enabled, run-docs-validation

use da-images public GAR repo over artifactory for docker compose
  .circleci/configs/workflow_test.yml
  .circleci/scripts/project_auth.sh
  quickstart/docker/modules/daml-shell/compose.env
  quickstart/docker/modules/pqs/compose.env
  sdk/docs/sharable/sdk/quickstart/download/cnqs-installation.rst
Due: shared_enabled, run-integration-test, run-docs-validation

uptick scribe version
  quickstart/.env
Due: shared_enabled, run-integration-test

leave jfrog alone for now
  .circleci/configs/workflow_test.yml
  .circleci/scripts/project_auth.sh
  sdk/docs/sharable/sdk/quickstart/download/cnqs-installation.rst
Due: shared_enabled, run-integration-test, run-docs-validation

change perms
  .circleci/scripts/project_auth.sh
Due: shared_enabled

use da-images public GAR repo over artifactory for docker compose (#278)
  quickstart/.env
  quickstart/docker/modules/daml-shell/compose.env
  quickstart/docker/modules/pqs/compose.env
Due: shared_enabled, run-integration-test

Path conditions:
  shared_enabled: any of: .*
  run-integration-test: any of: (quickstart/.*|.circleci/configs/workflow_test.yml)
  run-docs-validation: any of: sdk/.*
