Repository digital-asset/cn-quickstart: changes, and which CircleCI parameters are due for each by the changed paths.
All: shared_enabled, run-integration-test, run-docs-validation

.circleci/config.yml:

version: 2.1

# enable setup dynamic configuration:
setup: true

# use the path-filtering orb to control jobs based on the path of an updated set of files
# https://circleci.com/developer/orbs/orb/circleci/path-filtering
orbs:
  path-filtering: circleci/path-filtering@2.0.4

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          base-revision: main
          name: check-updated-files
          # mapping structure: <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            .* shared_enabled true .circleci/configs/workflow_shared.yml
            (quickstart/.*|.circleci/configs/workflow_test.yml) run-integration-test true .circleci/configs/workflow_test.yml
            (sdk/.*|.circleci/configs/workflow_docs.yml) run-docs-validation true .circleci/configs/workflow_docs.yml
          # this is the path of the configuration we should trigger once path filtering complete.
          config-path: .circleci/continue_config.yml

migrate to dpm
  .circleci/configs/workflow_test.yml
  quickstart/.env
  quickstart/Makefile
  quickstart/backend/build.gradle.kts
  quickstart/daml/build.gradle.kts
  quickstart/settings.gradle.kts
  sdk/docs/sharable/sdk/quickstart/troubleshoot/cnqs-faq.rst
Due: shared_enabled, run-integration-test, run-docs-validation

3.4.11 and use dpm env vars in place of their daml brethren
  quickstart/.env
  quickstart/daml/build.gradle.kts
  quickstart/daml/external-test-sources/splice-amulet-test/daml.yaml
  quickstart/daml/external-test-sources/splice-token-standard-test/daml.yaml
  quickstart/daml/external-test-sources/splice-token-test-trading-app/daml.yaml
  quickstart/daml/external-test-sources/splice-wallet-test/daml.yaml
  quickstart/daml/licensing-tests/daml.yaml
  quickstart/daml/licensing/daml.yaml
  quickstart/frontend/package-lock.json
  quickstart/sync-network.sh
Due: shared_enabled, run-integration-test

update docs
  sdk/docs/sharable/sdk/quickstart/configure/development-lifecycle.rst
Due: shared_enabled, run-docs-validation

update whitespace in package lock file
  quickstart/integration-test/package-lock.json
Due: shared_enabled, run-integration-test

leave out docs change because docs pipeline is dodgy
  sdk/docs/sharable/sdk/quickstart/configure/development-lifecycle.rst
Due: shared_enabled, run-docs-validation

Use dpm over daml (#335)
  quickstart/.env
  quickstart/daml/build.gradle.kts
  quickstart/daml/external-test-sources/splice-amulet-test/daml.yaml
  quickstart/daml/external-test-sources/splice-token-standard-test/daml.yaml
  quickstart/daml/external-test-sources/splice-token-test-trading-app/daml.yaml
  quickstart/daml/external-test-sources/splice-wallet-test/daml.yaml
  quickstart/daml/licensing-tests/daml.yaml
  quickstart/daml/licensing/daml.yaml
  quickstart/frontend/package-lock.json
  quickstart/integration-test/package-lock.json
  quickstart/sync-network.sh
Due: shared_enabled, run-integration-test

update lock file
  sdk/docs/index.rst
  sdk/poetry.lock
Due: shared_enabled, run-docs-validation

update lock file (#336)
  sdk/docs/index.rst
  sdk/poetry.lock
Due: shared_enabled, run-docs-validation

get rid of unnecessary install and check install commands
  quickstart/Makefile
  quickstart/daml/build.gradle.kts
Due: shared_enabled, run-integration-test

remove `make daml-install-sdk` from docs and CI
  .circleci/configs/workflow_test.yml
  README.md
  sdk/docs/sharable/sdk/quickstart/download/cnqs-installation.rst
  sdk/docs/sharable/sdk/quickstart/troubleshoot/cnqs-faq.rst
Due: shared_enabled, run-integration-test, run-docs-validation

get rid of unnecessary install and check install commands
  sdk/docs/sharable/sdk/quickstart/troubleshoot/cnqs-faq.rst
Due: shared_enabled, run-docs-validation

Daml sdk install no mo (#337)
  .circleci/configs/workflow_test.yml
  README.md
  quickstart/Makefile
  quickstart/daml/build.gradle.kts
  sdk/docs/sharable/sdk/quickstart/download/cnqs-installation.rst
  sdk/docs/sharable/sdk/quickstart/troubleshoot/cnqs-faq.rst
Due: shared_enabled, run-integration-test, run-docs-validation

doesnt ask if its your first time
  quickstart/Makefile
Due: shared_enabled, run-integration-test

doesnt ask if its your first time (#338)
  quickstart/Makefile
Due: shared_enabled, run-integration-test

cleaning dead code and stale docs
  quickstart/buildSrc/build.gradle.kts
  quickstart/buildSrc/src/main/kotlin/UnpackTarGzTask.kt
  quickstart/daml/build.gradle.kts
  sdk/docs/sharable/sdk/quickstart/configure/dev-journey-in-cnqs-lifecycle.rst
  sdk/docs/sharable/sdk/quickstart/configure/project-structure-overview.rst
  sdk/docs/sharable/sdk/quickstart/troubleshoot/cnqs-faq.rst
Due: shared_enabled, run-integration-test, run-docs-validation

cleaning dead code and stale docs (#339)
  quickstart/buildSrc/build.gradle.kts
  quickstart/buildSrc/src/main/kotlin/UnpackTarGzTask.kt
  quickstart/daml/build.gradle.kts
  sdk/docs/sharable/sdk/quickstart/configure/dev-journey-in-cnqs-lifecycle.rst
  sdk/docs/sharable/sdk/quickstart/configure/project-structure-overview.rst
  sdk/docs/sharable/sdk/quickstart/troubleshoot/cnqs-faq.rst
Due: shared_enabled, run-integration-test, run-docs-validation

Update NPM dependencies.
  quickstart/frontend/package-lock.json
  quickstart/frontend/package.json
  quickstart/integration-test/package-lock.json
  quickstart/integration-test/package.json
Due: shared_enabled, run-integration-test

Update NPM dependencies. (#343)
  quickstart/frontend/package-lock.json
  quickstart/frontend/package.json
  quickstart/integration-test/package-lock.json
  quickstart/integration-test/package.json
Due: shared_enabled, run-integration-test

build: add BACKEND selector with dual-backend Make/Compose/Docker plumbing
  .gitignore
  quickstart/Makefile
  quickstart/buildSrc/src/main/kotlin/ConfigureProfilesTask.kt
  quickstart/daml/build.gradle.kts
  quickstart/docker/backend-js/Dockerfile
  quickstart/docker/backend-js/compose.yaml
  quickstart/docker/backend-js/start.sh
Due: shared_enabled, run-integration-test

feat(backend-js): bootstrap Fastify server with config and tooling
  quickstart/backend-js/.gitignore
  quickstart/backend-js/package-lock.json
  quickstart/backend-js/package.json
  quickstart/backend-js/src/config.ts
  quickstart/backend-js/src/http/app.ts
  quickstart/backend-js/src/server.ts
  quickstart/backend-js/tsconfig.json
Due: shared_enabled, run-integration-test

feat(backend-js): auth subsystem with OAuth2, shared-secret, and tenants
  quickstart/backend-js/src/auth/admin-gate.ts
  quickstart/backend-js/src/auth/cookies.ts
  quickstart/backend-js/src/auth/csrf.ts
  quickstart/backend-js/src/auth/jwt-admin.ts
  quickstart/backend-js/src/auth/oauth2-registry.ts
  quickstart/backend-js/src/auth/oauth2.ts
  quickstart/backend-js/src/auth/session.ts
  quickstart/backend-js/src/auth/shared-secret.ts
  quickstart/backend-js/src/auth/test-mode-party.ts
  quickstart/backend-js/src/routes/admin.ts
  quickstart/backend-js/src/routes/login-links.ts
  quickstart/backend-js/src/routes/user.ts
  quickstart/backend-js/src/tenants/repository.ts
Due: shared_enabled, run-integration-test

feat(backend-js): PQS database layer and licensing repository
  quickstart/backend-js/src/domain/licensing/repository.ts
  quickstart/backend-js/src/pqs/contracts.ts
  quickstart/backend-js/src/pqs/db.ts
Due: shared_enabled, run-integration-test

feat(backend-js): Canton JSON Ledger API client with typed Daml command bindings
  quickstart/backend-js/src/canton/auth.ts
  quickstart/backend-js/src/canton/commands.ts
  quickstart/backend-js/src/canton/ledger.ts
  quickstart/backend-js/src/token-standard/client.ts
Due: shared_enabled, run-integration-test

feat(backend-js): licensing service and HTTP routes
  quickstart/backend-js/src/domain/licensing/mappers.ts
  quickstart/backend-js/src/domain/licensing/service.ts
  quickstart/backend-js/src/routes/app-install-requests.ts
  quickstart/backend-js/src/routes/app-installs.ts
  quickstart/backend-js/src/routes/feature-flags.ts
  quickstart/backend-js/src/routes/license-renewal-requests.ts
  quickstart/backend-js/src/routes/licenses.ts
Due: shared_enabled, run-integration-test

docs: document the Node.js backend in the README
  README.md
Due: shared_enabled

fix: distinguish 404 from 500 on DELETE /admin/tenant-registrations
  quickstart/backend-js/src/routes/admin.ts
Due: shared_enabled, run-integration-test

examples: add minimal Node.js happy-path against JSON Ledger v2 + PQS
  README.md
  quickstart/examples/.gitignore
  quickstart/examples/node-happy-path/README.md
  quickstart/examples/node-happy-path/package.json
  quickstart/examples/node-happy-path/pnpm-lock.yaml
  quickstart/examples/node-happy-path/pnpm-workspace.yaml
  quickstart/examples/node-happy-path/scripts/codegen-daml.sh
  quickstart/examples/node-happy-path/src/index.ts
  quickstart/examples/node-happy-path/tsconfig.json
Due: shared_enabled, run-integration-test

playwright + nix: pin Chromium to IPv4 *.localhost; nodejs 22 + pnpm
  nix/shell.nix
  quickstart/integration-test/playwright.config.ts
Due: shared_enabled, run-integration-test

update to latest localnet splice 0.6.1 and scribe 3.5.1-rc3
  quickstart/.env
  quickstart/docker/modules/localnet/compose.env
  quickstart/docker/modules/localnet/compose.yaml
  quickstart/docker/modules/localnet/conf/canton/app-provider/app.conf
  quickstart/docker/modules/localnet/conf/canton/app.conf
  quickstart/docker/modules/localnet/conf/console/app-provider/app.conf
  quickstart/docker/modules/localnet/conf/console/app-synchronizer.sc
  quickstart/docker/modules/localnet/conf/splice/app-provider/app.conf
  quickstart/docker/modules/localnet/conf/splice/app-user/app.conf
  quickstart/docker/modules/localnet/conf/splice/sv/app.conf
  quickstart/docker/modules/localnet/docker/canton/health-check.sh
  quickstart/docker/modules/localnet/docker/console/Dockerfile
  quickstart/docker/modules/localnet/docker/console/entrypoint.sh
  quickstart/docker/modules/localnet/docker/postgres/postgres-entrypoint.sh
  quickstart/docker/modules/localnet/docker/splice/health-check.sh
  quickstart/docker/modules/localnet/env/alpha-protocol-version.env
  quickstart/docker/modules/localnet/env/postgres.env
Due: shared_enabled, run-integration-test

Update README.md
  README.md
Due: shared_enabled

Update quickstart/.env
  quickstart/.env
Due: shared_enabled, run-integration-test

Improvment: added comment for the enriching Choice Context for LicenseAPI for Token Standard API
  quickstart/backend/src/main/java/com/digitalasset/quickstart/service/LicenseApiImpl.java
Due: shared_enabled, run-integration-test

Fix: reverted formatting
  quickstart/backend/src/main/java/com/digitalasset/quickstart/service/LicenseApiImpl.java
Due: shared_enabled, run-integration-test

Make sure Quick Start works with 3.5 #33098
  quickstart/.env
  quickstart/docker/modules/daml-shell/compose.env
  quickstart/docker/modules/localnet/conf/splice/sv/app.conf
  quickstart/docker/modules/pqs/compose.yaml
Due: shared_enabled, run-integration-test

Code Review
  quickstart/.env
  quickstart/docker/modules/localnet/conf/splice/sv/app.conf
Due: shared_enabled, run-integration-test

Code Review: removed to String() usage for conversion of raw types to AnyValue
  quickstart/backend/src/main/java/com/digitalasset/quickstart/utility/ChoiceContextUtils.java
Due: shared_enabled, run-integration-test

Code Review
  quickstart/backend/src/main/java/com/digitalasset/quickstart/service/LicenseApiImpl.java
  quickstart/backend/src/main/java/com/digitalasset/quickstart/utility/ChoiceContextUtils.java
  quickstart/backend/src/main/java/com/digitalasset/quickstart/utility/TokenStandardUtils.java
Due: shared_enabled, run-integration-test
