Repository digital-asset/cn-quickstart: changes, and which CircleCI parameters are due for each by the changed paths.
All: shared_enabled, run-integration-test, run-docs-validation

.circleci/config.yml:

version: 2.1

# enable setup dynamic configuration:
setup: true

# use the path-filtering orb to control jobs based on the path of an updated set of files
# https://circleci.com/developer/orbs/orb/circleci/path-filtering
orbs:
  path-filtering: circleci/path-filtering@2.0.4

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          base-revision: main
          name: check-updated-files
          # mapping structure: <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            .* shared_enabled true .circleci/configs/workflow_shared.yml
            (quickstart/.*|.circleci/configs/workflow_test.yml) run-integration-test true .circleci/configs/workflow_test.yml
            (sdk/.*|.circleci/configs/workflow_docs.yml) run-docs-validation true .circleci/configs/workflow_docs.yml
          # this is the path of the configuration we should trigger once path filtering complete.
          config-path: .circleci/continue_config.yml

sdk 3.4.10, scribe 0.6.15 (#316)
  quickstart/.env
  quickstart/daml/build.gradle.kts
  quickstart/daml/external-test-sources/splice-amulet-test/daml.yaml
  quickstart/daml/external-test-sources/splice-token-standard-test/daml.yaml
  quickstart/daml/external-test-sources/splice-token-test-trading-app/daml.yaml
  quickstart/daml/external-test-sources/splice-wallet-test/daml.yaml
  quickstart/daml/licensing-tests/daml.yaml
  quickstart/daml/licensing/daml.yaml
Due: shared_enabled, run-integration-test

splice 0.5.5
  quickstart/.env
Due: shared_enabled, run-integration-test

feat: devnet docker module and howto
  quickstart/docker/modules/devnet/compose.env
  quickstart/docker/modules/devnet/compose.yaml
  quickstart/docker/modules/devnet/conf/keycloak/AppProvider-realm.json
  quickstart/docker/modules/devnet/conf/keycloak/AppProvider-users-0.json
  quickstart/docker/modules/devnet/conf/nginx/nginx-keycloak.conf
  quickstart/docker/modules/devnet/env/backend.env
  quickstart/docker/modules/devnet/env/common.env
  quickstart/docker/modules/devnet/env/pqs.env
  quickstart/docker/modules/devnet/onboarding/Dockerfile
  quickstart/docker/modules/devnet/onboarding/app-provider.sh
  quickstart/docker/modules/devnet/onboarding/backend-onboarding.sh
  quickstart/docker/modules/devnet/onboarding/entrypoint.sh
  quickstart/docker/modules/devnet/onboarding/health-check.sh
  quickstart/docker/modules/devnet/onboarding/utils.sh
  quickstart/docker/modules/devnet/start.sh
  quickstart/docker/modules/devnet/stop.sh
  sdk/docs/index.rst
  sdk/docs/sharable/sdk/quickstart/operate/deploy-quickstart-to-devnet.rst
  sdk/docs/sharable/sdk/quickstart/operate/images/devnet-app-provider-localhost-login.png
  sdk/docs/sharable/sdk/quickstart/operate/images/devnet-app-provider-on-devnet-home.png
  sdk/docs/sharable/sdk/quickstart/operate/images/devnet-app-provider.png
  sdk/docs/sharable/sdk/quickstart/operate/images/devnet-canton-network-devnet-connectivity-check.png
  sdk/docs/sharable/sdk/quickstart/operate/images/devnet-decentralized-canton-sync-release-line-056.png
  sdk/docs/sharable/sdk/quickstart/operate/images/devnet-keycloak-admin-login.png
  sdk/docs/sharable/sdk/quickstart/operate/images/devnet-linux-vpn-settings.png
  sdk/docs/sharable/sdk/quickstart/operate/images/devnet-settings-menu-mac-os.png
  sdk/docs/sharable/sdk/quickstart/operate/images/devnet-settings-vpn-mac-os.png
  sdk/docs/sharable/sdk/quickstart/operate/images/devnet-validator-start-complete.png
  sdk/docs/sharable/sdk/quickstart/operate/images/devnet-vmnetd-error-message.png
Due: shared_enabled, run-integration-test, run-docs-validation

update splice node link to 0.5.8
  sdk/docs/sharable/sdk/quickstart/operate/deploy-quickstart-to-devnet.rst
Due: shared_enabled, run-docs-validation

Update poetry.lock
  sdk/poetry.lock
Due: shared_enabled, run-docs-validation

Add Vagrantfile for local development
  README.vagrant.md
  Vagrantfile
Due: shared_enabled

docs: external parties qs howto
  sdk/docs/index.rst
  sdk/docs/sharable/sdk/quickstart/operate/how-to-onboard-external-parties-in-quickstart.rst
Due: shared_enabled, run-docs-validation

feat: devnet docker module and howto (#314)
  quickstart/docker/modules/devnet/compose.env
  quickstart/docker/modules/devnet/compose.yaml
  quickstart/docker/modules/devnet/conf/keycloak/AppProvider-realm.json
  quickstart/docker/modules/devnet/conf/keycloak/AppProvider-users-0.json
  quickstart/docker/modules/devnet/conf/nginx/nginx-keycloak.conf
  quickstart/docker/modules/devnet/env/backend.env
  quickstart/docker/modules/devnet/env/common.env
  quickstart/docker/modules/devnet/env/pqs.env
  quickstart/docker/modules/devnet/onboarding/Dockerfile
  quickstart/docker/modules/devnet/onboarding/app-provider.sh
  quickstart/docker/modules/devnet/onboarding/backend-onboarding.sh
  quickstart/docker/modules/devnet/onboarding/entrypoint.sh
  quickstart/docker/modules/devnet/onboarding/health-check.sh
  quickstart/docker/modules/devnet/onboarding/utils.sh
  quickstart/docker/modules/devnet/start.sh
  quickstart/docker/modules/devnet/stop.sh
  sdk/docs/index.rst
  sdk/docs/sharable/sdk/quickstart/operate/deploy-quickstart-to-devnet.rst
  sdk/docs/sharable/sdk/quickstart/operate/images/devnet-app-provider-localhost-login.png
  sdk/docs/sharable/sdk/quickstart/operate/images/devnet-app-provider-on-devnet-home.png
  sdk/docs/sharable/sdk/quickstart/operate/images/devnet-app-provider.png
  sdk/docs/sharable/sdk/quickstart/operate/images/devnet-canton-network-devnet-connectivity-check.png
  sdk/docs/sharable/sdk/quickstart/operate/images/devnet-decentralized-canton-sync-release-line-056.png
  sdk/docs/sharable/sdk/quickstart/operate/images/devnet-keycloak-admin-login.png
  sdk/docs/sharable/sdk/quickstart/operate/images/devnet-linux-vpn-settings.png
  sdk/docs/sharable/sdk/quickstart/operate/images/devnet-settings-menu-mac-os.png
  sdk/docs/sharable/sdk/quickstart/operate/images/devnet-settings-vpn-mac-os.png
  sdk/docs/sharable/sdk/quickstart/operate/images/devnet-validator-start-complete.png
  sdk/docs/sharable/sdk/quickstart/operate/images/devnet-vmnetd-error-message.png
Due: shared_enabled, run-integration-test, run-docs-validation

Force bash as a shell for the Makefile
  quickstart/Makefile
Due: shared_enabled, run-integration-test

fix: external parties
  sdk/docs/sharable/sdk/quickstart/operate/how-to-onboard-external-parties-in-quickstart.rst
Due: shared_enabled, run-docs-validation

refactor: using subsiteref
  sdk/docs/sharable/sdk/quickstart/operate/how-to-onboard-external-parties-in-quickstart.rst
Due: shared_enabled, run-docs-validation

remove extref
  sdk/docs/sharable/sdk/quickstart/operate/how-to-onboard-external-parties-in-quickstart.rst
Due: shared_enabled, run-docs-validation

feat: ext parties in qs howto
  sdk/docs/index.rst
  sdk/docs/sharable/sdk/quickstart/operate/how-to-onboard-external-parties-in-quickstart.rst
Due: shared_enabled, run-docs-validation

fix: update to operate in index
  sdk/docs/index.rst
Due: shared_enabled, run-docs-validation

bump
  sdk/docs/sharable/sdk/quickstart/operate/how-to-onboard-external-parties-in-quickstart.rst
Due: shared_enabled, run-docs-validation

[run-ci] Update README.md
  README.md
Due: shared_enabled

Update .env
  quickstart/.env
Due: shared_enabled, run-integration-test

feat: ext parties in qs howto (#324)
  README.md
  quickstart/.env
  sdk/docs/index.rst
  sdk/docs/sharable/sdk/quickstart/operate/how-to-onboard-external-parties-in-quickstart.rst
Due: shared_enabled, run-integration-test, run-docs-validation

Update Makefile
  sdk/Makefile
Due: shared_enabled, run-docs-validation

Remove bash array to make Makefile dash compatible
  quickstart/Makefile
Due: shared_enabled, run-integration-test

Revert new formatting
  quickstart/Makefile
Due: shared_enabled, run-integration-test

Update Makefile
  quickstart/Makefile
Due: shared_enabled, run-integration-test

Revert "Update Makefile"
  quickstart/Makefile
Due: shared_enabled, run-integration-test

force bash as shell
  quickstart/Makefile
Due: shared_enabled, run-integration-test

Update Makefile (#326)
  quickstart/Makefile
Due: shared_enabled, run-integration-test

dummy commit to trigger workflow
  quickstart/frontend/package-lock.json
Due: shared_enabled, run-integration-test

dummy package-lock change to trigger workflow
  quickstart/integration-test/package-lock.json
Due: shared_enabled, run-integration-test

use dpm instead of daml sdk
  quickstart/.env
  quickstart/daml/build.gradle.kts
  quickstart/daml/external-test-sources/splice-amulet-test/daml.yaml
  quickstart/daml/external-test-sources/splice-token-standard-test/daml.yaml
  quickstart/daml/external-test-sources/splice-token-test-trading-app/daml.yaml
  quickstart/daml/external-test-sources/splice-wallet-test/daml.yaml
  quickstart/daml/licensing-tests/daml.yaml
  quickstart/daml/licensing/daml.yaml
Due: shared_enabled, run-integration-test

DPM_SDK_VERSION over DAML_SDK_VERSION
  quickstart/.env
  quickstart/daml/build.gradle.kts
  quickstart/sync-network.sh
Due: shared_enabled, run-integration-test

update docs
  sdk/docs/sharable/sdk/quickstart/configure/development-lifecycle.rst
Due: shared_enabled, run-docs-validation

build and test with dpm
  quickstart/daml/build.gradle.kts
Due: shared_enabled, run-integration-test

migrate to dpm
  .circleci/configs/workflow_test.yml
  quickstart/.env
  quickstart/Makefile
  quickstart/backend/build.gradle.kts
  quickstart/daml/build.gradle.kts
  quickstart/settings.gradle.kts
  sdk/docs/sharable/sdk/quickstart/troubleshoot/cnqs-faq.rst
Due: shared_enabled, run-integration-test, run-docs-validation

see the errors
  quickstart/Makefile
Due: shared_enabled, run-integration-test

add dpm via nix
  flake.lock
  flake.nix
  nix/dpm.nix
  nix/overlays.nix
  nix/shell.nix
Due: shared_enabled

always run all the workflows
  .circleci/config.yml
Due: shared_enabled

Update config.yml
  .circleci/config.yml
Due: shared_enabled

add dpm via nix (#334)
  .circleci/config.yml
  flake.lock
  flake.nix
  nix/dpm.nix
  nix/overlays.nix
  nix/shell.nix
Due: shared_enabled
