Repository digital-asset/cn-quickstart: changes, and which CircleCI parameters are due for each by the changed paths.
All: shared_enabled, run-integration-test, run-docs-validation

.circleci/config.yml:

version: 2.1

# enable setup dynamic configuration:
setup: true

# use the path-filtering orb to control jobs based on the path of an updated set of files
# https://circleci.com/developer/orbs/orb/circleci/path-filtering
orbs:
  path-filtering: circleci/path-filtering@2.0.4

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          base-revision: main
          name: check-updated-files
          # mapping structure: <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            .* shared_enabled true .circleci/configs/workflow_shared.yml
            (quickstart/.*|.circleci/configs/workflow_test.yml) run-integration-test true .circleci/configs/workflow_test.yml
            (sdk/.*|.circleci/configs/workflow_docs.yml) run-docs-validation true .circleci/configs/workflow_docs.yml
          # this is the path of the configuration we should trigger once path filtering complete.
          config-path: .circleci/continue_config.yml

Add the logs directory to .gitignore.
  .gitignore
Due: shared_enabled

embed videos for demo app, canton console, and daml shell
  sdk/docs/sharable/sdk/quickstart/operate/explore-the-demo.rst
Due: shared_enabled, run-docs-validation

Add the logs directory to .gitignore. (#282)
  .gitignore
Due: shared_enabled

embed videos for demo app, canton console, and daml shell (#283)
  sdk/docs/sharable/sdk/quickstart/operate/explore-the-demo.rst
Due: shared_enabled, run-docs-validation

Make YouTube links work properly in this repo.
  sdk/.sphinx/conf.py
  sdk/poetry.lock
  sdk/pyproject.toml
Due: shared_enabled, run-docs-validation

Make YouTube links work properly in this repo. (#285)
  sdk/.sphinx/conf.py
  sdk/poetry.lock
  sdk/pyproject.toml
Due: shared_enabled, run-docs-validation

remove codeowners
  .github/CODEOWNERS
Due: shared_enabled

remove codeowners (#287)
  .github/CODEOWNERS
Due: shared_enabled

remove fetch grafana
  quickstart/Makefile
Due: shared_enabled, run-integration-test

do not need to `docker login` to GAR
  sdk/docs/sharable/sdk/quickstart/download/cnqs-installation.rst
Due: shared_enabled, run-docs-validation

remove workflow test
  .circleci/configs/workflow_test.yml
Due: shared_enabled, run-integration-test

update files
  quickstart/Makefile
  quickstart/NOTICES
  sdk/docs/sharable/sdk/quickstart/download/cnqs-installation.rst
Due: shared_enabled, run-integration-test, run-docs-validation

remove credentials file
  quickstart/buildSrc/src/main/kotlin/Credentials.kt
Due: shared_enabled, run-integration-test

remove grafana dashboards
  quickstart/build.gradle.kts
  quickstart/daml/build.gradle.kts
Due: shared_enabled, run-integration-test

remove most of artifactory dependencies
  .circleci/configs/workflow_test.yml
  .circleci/scripts/nix_prep.sh
  .circleci/scripts/project_auth.sh
  README.md
  quickstart/daml/build.gradle.kts
  sdk/docs/sharable/sdk/quickstart/download/cnqs-installation.rst
  sdk/docs/sharable/sdk/quickstart/operate/explore-the-demo.rst
  sdk/docs/sharable/sdk/quickstart/troubleshoot/cnqs-faq.rst
Due: shared_enabled, run-integration-test, run-docs-validation

remove dependency on artifactory for daml sdk - use github public release instead (#288)
  .circleci/configs/workflow_test.yml
  .circleci/scripts/nix_prep.sh
  .circleci/scripts/project_auth.sh
  README.md
  quickstart/Makefile
  quickstart/NOTICES
  quickstart/build.gradle.kts
  quickstart/buildSrc/src/main/kotlin/Credentials.kt
  quickstart/daml/build.gradle.kts
  sdk/docs/sharable/sdk/quickstart/download/cnqs-installation.rst
  sdk/docs/sharable/sdk/quickstart/operate/explore-the-demo.rst
  sdk/docs/sharable/sdk/quickstart/troubleshoot/cnqs-faq.rst
Due: shared_enabled, run-integration-test, run-docs-validation

add gcloud via nix
  nix/shell.nix
Due: shared_enabled

add gcloud via nix (#289)
  nix/shell.nix
Due: shared_enabled

feat: tldr guide
  sdk/docs/sharable/sdk/quickstart/configure/development-lifecycle.rst
  sdk/docs/sharable/sdk/quickstart/configure/project-structure-overview.rst
  sdk/docs/sharable/sdk/quickstart/download/cnqs-installation.rst
  sdk/docs/sharable/sdk/quickstart/operate/introduction-to-splice-in-cn.rst
  sdk/docs/sharable/sdk/quickstart/secure/keycloak-in-cnqs.rst
  sdk/docs/sharable/sdk/quickstart/troubleshoot/cnqs-faq.rst
  sdk/docs/sharable/sdk/quickstart/upgrade/upgrades-on-global-sync.rst
Due: shared_enabled, run-docs-validation

feat: json api tutorial
  sdk/docs/sharable/sdk/quickstart/operate/images/keycloak-admin-login.png
  sdk/docs/sharable/sdk/quickstart/operate/images/lnav-alice-participant.png
  sdk/docs/sharable/sdk/quickstart/operate/images/lnav-app-provider-activity.png
  sdk/docs/sharable/sdk/quickstart/operate/images/lnav-appinstallrequest.png
  sdk/docs/sharable/sdk/quickstart/operate/images/lnav-dso-activity.png
  sdk/docs/sharable/sdk/quickstart/operate/images/lnav-upload-dar-package-id.png
  sdk/docs/sharable/sdk/quickstart/operate/images/shell-appinstallrequest-active.png
  sdk/docs/sharable/sdk/quickstart/operate/images/shell-appinstallrequest-contract.png
  sdk/docs/sharable/sdk/quickstart/operate/images/terminal-alice-participant.png
  sdk/docs/sharable/sdk/quickstart/operate/images/terminal-app-provider-exists.png
  sdk/docs/sharable/sdk/quickstart/operate/images/terminal-make-status.png
  sdk/docs/sharable/sdk/quickstart/operate/images/terminal-upload-dar.png
  sdk/docs/sharable/sdk/quickstart/operate/json-api.rst
Due: shared_enabled, run-docs-validation

fix: add json-api in index
  sdk/docs/index.rst
Due: shared_enabled, run-docs-validation

add ref
  sdk/docs/sharable/sdk/quickstart/operate/json-api.rst
Due: shared_enabled, run-docs-validation

fix: typo
  sdk/docs/index.rst
Due: shared_enabled, run-docs-validation

remove empty lines
  sdk/docs/sharable/sdk/quickstart/operate/introduction-to-splice-in-cn.rst
Due: shared_enabled, run-docs-validation

Tldr resource (#290)
  sdk/docs/index.rst
  sdk/docs/sharable/sdk/quickstart/configure/development-lifecycle.rst
  sdk/docs/sharable/sdk/quickstart/configure/project-structure-overview.rst
  sdk/docs/sharable/sdk/quickstart/download/cnqs-installation.rst
  sdk/docs/sharable/sdk/quickstart/operate/images/keycloak-admin-login.png
  sdk/docs/sharable/sdk/quickstart/operate/images/lnav-alice-participant.png
  sdk/docs/sharable/sdk/quickstart/operate/images/lnav-app-provider-activity.png
  sdk/docs/sharable/sdk/quickstart/operate/images/lnav-appinstallrequest.png
  sdk/docs/sharable/sdk/quickstart/operate/images/lnav-dso-activity.png
  sdk/docs/sharable/sdk/quickstart/operate/images/lnav-upload-dar-package-id.png
  sdk/docs/sharable/sdk/quickstart/operate/images/shell-appinstallrequest-active.png
  sdk/docs/sharable/sdk/quickstart/operate/images/shell-appinstallrequest-contract.png
  sdk/docs/sharable/sdk/quickstart/operate/images/terminal-alice-participant.png
  sdk/docs/sharable/sdk/quickstart/operate/images/terminal-app-provider-exists.png
  sdk/docs/sharable/sdk/quickstart/operate/images/terminal-make-status.png
  sdk/docs/sharable/sdk/quickstart/operate/images/terminal-upload-dar.png
  sdk/docs/sharable/sdk/quickstart/operate/introduction-to-splice-in-cn.rst
  sdk/docs/sharable/sdk/quickstart/operate/json-api.rst
  sdk/docs/sharable/sdk/quickstart/secure/keycloak-in-cnqs.rst
  sdk/docs/sharable/sdk/quickstart/troubleshoot/cnqs-faq.rst
  sdk/docs/sharable/sdk/quickstart/upgrade/upgrades-on-global-sync.rst
Due: shared_enabled, run-docs-validation

Remove confusing partyId description
  sdk/docs/sharable/sdk/quickstart/observe/observability-troubleshooting-overview.rst
Due: shared_enabled, run-docs-validation

Remove confusing partyId description (#292)
  sdk/docs/sharable/sdk/quickstart/observe/observability-troubleshooting-overview.rst
Due: shared_enabled, run-docs-validation

docs: bump directory tree in quickstart guide
  sdk/docs/sharable/sdk/quickstart/configure/development-lifecycle.rst
Due: shared_enabled, run-docs-validation

Update .env for 3.4 release
  quickstart/.env
Due: shared_enabled, run-integration-test

Added PROTO_RUNTIME_VERSION to differentiate between SDK and Canton version
  quickstart/.env
  quickstart/buildSrc/src/main/kotlin/Dependencies.kt
Due: shared_enabled, run-integration-test

update to 3.4
  quickstart/.env
  quickstart/daml/build.gradle.kts
Due: shared_enabled, run-integration-test

update splice verson
  quickstart/.env
Due: shared_enabled, run-integration-test

fix scalapb dependency
  quickstart/backend/build.gradle.kts
  quickstart/buildSrc/src/main/kotlin/Dependencies.kt
Due: shared_enabled, run-integration-test

fix warning
  quickstart/daml/licensing/daml.yaml
Due: shared_enabled, run-integration-test

update to 3.4.7
  quickstart/buildSrc/src/main/kotlin/Dependencies.kt
  quickstart/daml/external-test-sources/splice-amulet-test/daml.yaml
  quickstart/daml/external-test-sources/splice-token-standard-test/daml.yaml
  quickstart/daml/external-test-sources/splice-token-test-trading-app/daml.yaml
  quickstart/daml/external-test-sources/splice-wallet-test/daml.yaml
  quickstart/daml/licensing-tests/daml.yaml
  quickstart/daml/licensing/daml.yaml
Due: shared_enabled, run-integration-test

fix build
  quickstart/backend/src/main/java/com/digitalasset/quickstart/ledger/LedgerApi.java
Due: shared_enabled, run-integration-test

get make start to work - fix protocol version
  quickstart/docker/modules/localnet/conf/canton/app.conf
Due: shared_enabled, run-integration-test

update confs
  quickstart/docker/modules/localnet/conf/canton/app-provider/app.conf
  quickstart/docker/modules/localnet/conf/canton/app-user/app.conf
  quickstart/docker/modules/localnet/conf/canton/app.conf
  quickstart/docker/modules/localnet/conf/canton/sv/app.conf
  quickstart/docker/modules/localnet/conf/splice/sv/app.conf
Due: shared_enabled, run-integration-test

make sure we are using 3.4
  quickstart/buildSrc/src/main/kotlin/Dependencies.kt
  quickstart/docker/modules/pqs/compose.yaml
Due: shared_enabled, run-integration-test

update NOTICES
  quickstart/NOTICES
Due: shared_enabled, run-integration-test
