Repository digital-asset/cn-quickstart: changes, and which CircleCI parameters are due for each by the changed paths.
All: shared_enabled, run-integration-test, run-docs-validation

Fix exerciseAndGetResult
  quickstart/backend/src/main/java/com/digitalasset/quickstart/ledger/LedgerApi.java
Due: shared_enabled, run-integration-test

passing integration test?
  quickstart/integration-test/pages/wallet.page.ts
Due: shared_enabled, run-integration-test

tweak test
  quickstart/integration-test/pages/wallet.page.ts
Due: shared_enabled, run-integration-test

update to splice 0.5.1 / daml+canton 3.4 (#294)
  quickstart/.env
  quickstart/NOTICES
  quickstart/backend/build.gradle.kts
  quickstart/backend/src/main/java/com/digitalasset/quickstart/ledger/LedgerApi.java
  quickstart/buildSrc/src/main/kotlin/Dependencies.kt
  quickstart/daml/build.gradle.kts
  quickstart/daml/external-test-sources/splice-amulet-test/daml.yaml
  quickstart/daml/external-test-sources/splice-token-standard-test/daml.yaml
  quickstart/daml/external-test-sources/splice-token-test-trading-app/daml.yaml
  quickstart/daml/external-test-sources/splice-wallet-test/daml.yaml
  quickstart/daml/licensing-tests/daml.yaml
  quickstart/daml/licensing/daml.yaml
  quickstart/docker/modules/localnet/conf/canton/app-provider/app.conf
  quickstart/docker/modules/localnet/conf/canton/app-user/app.conf
  quickstart/docker/modules/localnet/conf/canton/app.conf
  quickstart/docker/modules/localnet/conf/canton/sv/app.conf
  quickstart/docker/modules/localnet/conf/splice/sv/app.conf
  quickstart/docker/modules/pqs/compose.yaml
  quickstart/integration-test/pages/wallet.page.ts
Due: shared_enabled, run-integration-test

revise proj struct guide to single page
  sdk/docs/sharable/sdk/quickstart/configure/project-structure-overview.rst
  sdk/docs/sharable/sdk/quickstart/configure/quickstart-project-structure/01-quickstart-rationale.rst
  sdk/docs/sharable/sdk/quickstart/configure/quickstart-project-structure/02-quickstart-app-business-case.rst
  sdk/docs/sharable/sdk/quickstart/configure/quickstart-project-structure/03-quickstart-high-level-structure.rst
  sdk/docs/sharable/sdk/quickstart/configure/quickstart-project-structure/04-quickstart-top-level-dir.rst
  sdk/docs/sharable/sdk/quickstart/configure/quickstart-project-structure/05-quickstart-example-application.rst
  sdk/docs/sharable/sdk/quickstart/configure/quickstart-project-structure/06-quickstart-makefile-primer.rst
  sdk/docs/sharable/sdk/quickstart/download/cnqs-installation.rst
  sdk/docs/sharable/sdk/quickstart/index.rst
  sdk/docs/sharable/sdk/quickstart/operate/explore-the-demo.rst
Due: shared_enabled, run-docs-validation

fix: tldr ref to hyperlink
  sdk/docs/sharable/sdk/quickstart/configure/project-structure-overview.rst
Due: shared_enabled, run-docs-validation

update to 3.4.8
  quickstart/.env
  quickstart/daml/build.gradle.kts
  quickstart/daml/external-test-sources/splice-amulet-test/daml.yaml
  quickstart/daml/external-test-sources/splice-token-standard-test/daml.yaml
  quickstart/daml/external-test-sources/splice-token-test-trading-app/daml.yaml
  quickstart/daml/external-test-sources/splice-wallet-test/daml.yaml
  quickstart/daml/licensing-tests/daml.yaml
  quickstart/daml/licensing/daml.yaml
Due: shared_enabled, run-integration-test

remove target that relies on daml-sdk docker image
  quickstart/Makefile
Due: shared_enabled, run-integration-test

use splice 0.5.3
  quickstart/.env
Due: shared_enabled, run-integration-test

Update to sdk 3.4.8 / splice 0.5.3 (#298)
  quickstart/.env
  quickstart/Makefile
  quickstart/daml/build.gradle.kts
  quickstart/daml/external-test-sources/splice-amulet-test/daml.yaml
  quickstart/daml/external-test-sources/splice-token-standard-test/daml.yaml
  quickstart/daml/external-test-sources/splice-token-test-trading-app/daml.yaml
  quickstart/daml/external-test-sources/splice-wallet-test/daml.yaml
  quickstart/daml/licensing-tests/daml.yaml
  quickstart/daml/licensing/daml.yaml
Due: shared_enabled, run-integration-test

docs update
  sdk/docs/sharable/sdk/quickstart/configure/development-lifecycle.rst
Due: shared_enabled, run-docs-validation

docs update (#300)
  sdk/docs/sharable/sdk/quickstart/configure/development-lifecycle.rst
Due: shared_enabled, run-docs-validation

Project structure revision (#297)
  sdk/docs/sharable/sdk/quickstart/configure/project-structure-overview.rst
  sdk/docs/sharable/sdk/quickstart/configure/quickstart-project-structure/01-quickstart-rationale.rst
  sdk/docs/sharable/sdk/quickstart/configure/quickstart-project-structure/02-quickstart-app-business-case.rst
  sdk/docs/sharable/sdk/quickstart/configure/quickstart-project-structure/03-quickstart-high-level-structure.rst
  sdk/docs/sharable/sdk/quickstart/configure/quickstart-project-structure/04-quickstart-top-level-dir.rst
  sdk/docs/sharable/sdk/quickstart/configure/quickstart-project-structure/05-quickstart-example-application.rst
  sdk/docs/sharable/sdk/quickstart/configure/quickstart-project-structure/06-quickstart-makefile-primer.rst
  sdk/docs/sharable/sdk/quickstart/download/cnqs-installation.rst
  sdk/docs/sharable/sdk/quickstart/index.rst
  sdk/docs/sharable/sdk/quickstart/operate/explore-the-demo.rst
Due: shared_enabled, run-docs-validation

fix make capture-logs
  quickstart/Makefile
Due: shared_enabled, run-integration-test

fix make capture-logs (#301)
  quickstart/Makefile
Due: shared_enabled, run-integration-test

docs: update lnav shortcuts
  sdk/docs/sharable/sdk/quickstart/operate/lnav-in-cn.rst
Due: shared_enabled, run-docs-validation

fix: typo
  sdk/docs/sharable/sdk/quickstart/operate/lnav-in-cn.rst
Due: shared_enabled, run-docs-validation

Lnav shortcut update (#302)
  sdk/docs/sharable/sdk/quickstart/operate/lnav-in-cn.rst
Due: shared_enabled, run-docs-validation

Remove scalapb dependency
  quickstart/backend/build.gradle.kts
  quickstart/buildSrc/src/main/kotlin/Dependencies.kt
Due: shared_enabled, run-integration-test

Remove scalapb dependency (#303)
  quickstart/backend/build.gradle.kts
  quickstart/buildSrc/src/main/kotlin/Dependencies.kt
Due: shared_enabled, run-integration-test

feat: add port mappings to readme
  README.md
Due: shared_enabled

small update
  README.md
Due: shared_enabled

minor edits
  README.md
Due: shared_enabled

update to sdk 3.4.9
  quickstart/.env
  quickstart/daml/build.gradle.kts
  quickstart/daml/external-test-sources/splice-amulet-test/daml.yaml
  quickstart/daml/external-test-sources/splice-token-standard-test/daml.yaml
  quickstart/daml/external-test-sources/splice-token-test-trading-app/daml.yaml
  quickstart/daml/external-test-sources/splice-wallet-test/daml.yaml
  quickstart/daml/licensing-tests/daml.yaml
  quickstart/daml/licensing/daml.yaml
Due: shared_enabled, run-integration-test

feat: add port mappings to readme (#304)
  README.md
Due: shared_enabled

feat: update api endpoints to v2
  sdk/docs/sharable/sdk/quickstart/operate/images/json-api-create-allocation.png
  sdk/docs/sharable/sdk/quickstart/operate/images/json-api-payload.png
  sdk/docs/sharable/sdk/quickstart/operate/json-api.rst
Due: shared_enabled, run-docs-validation

fix: test failure
  sdk/docs/sharable/sdk/quickstart/operate/json-api.rst
Due: shared_enabled, run-docs-validation

fix: dpm hyperlink
  sdk/docs/sharable/sdk/quickstart/operate/json-api.rst
Due: shared_enabled, run-docs-validation

feat: update api endpoints to v2 (#307)
  sdk/docs/sharable/sdk/quickstart/operate/images/json-api-create-allocation.png
  sdk/docs/sharable/sdk/quickstart/operate/images/json-api-payload.png
  sdk/docs/sharable/sdk/quickstart/operate/json-api.rst
Due: shared_enabled, run-docs-validation

Makefile now explicitly uses bash (required for arrays)
  quickstart/Makefile
Due: shared_enabled, run-integration-test

feat: devnet docker module and howto
  quickstart/docker/modules/devnet/compose.env
  quickstart/docker/modules/devnet/compose.yaml
  quickstart/docker/modules/devnet/conf/keycloak/AppProvider-realm.json
  quickstart/docker/modules/devnet/conf/keycloak/AppProvider-users-0.json
  quickstart/docker/modules/devnet/conf/nginx/nginx-keycloak.conf
  quickstart/docker/modules/devnet/env/backend.env
  quickstart/docker/modules/devnet/env/common.env
  quickstart/docker/modules/devnet/env/pqs.env
  quickstart/docker/modules/devnet/onboarding/Dockerfile
  quickstart/docker/modules/devnet/onboarding/app-provider.sh
  quickstart/docker/modules/devnet/onboarding/backend-onboarding.sh
  quickstart/docker/modules/devnet/onboarding/entrypoint.sh
  quickstart/docker/modules/devnet/onboarding/health-check.sh
  quickstart/docker/modules/devnet/onboarding/utils.sh
  quickstart/docker/modules/devnet/start.sh
  quickstart/docker/modules/devnet/stop.sh
  sdk/docs/index.rst
  sdk/docs/sharable/sdk/quickstart/operate/deploy-quickstart-to-devnet.rst
  sdk/docs/sharable/sdk/quickstart/operate/images/devnet-app-provider-localhost-login.png
  sdk/docs/sharable/sdk/quickstart/operate/images/devnet-app-provider-on-devnet-home.png
  sdk/docs/sharable/sdk/quickstart/operate/images/devnet-app-provider.png
  sdk/docs/sharable/sdk/quickstart/operate/images/devnet-canton-network-devnet-connectivity-check.png
  sdk/docs/sharable/sdk/quickstart/operate/images/devnet-decentralized-canton-sync-release-line-056.png
  sdk/docs/sharable/sdk/quickstart/operate/images/devnet-keycloak-admin-login.png
  sdk/docs/sharable/sdk/quickstart/operate/images/devnet-linux-vpn-settings.png
  sdk/docs/sharable/sdk/quickstart/operate/images/devnet-settings-menu-mac-os.png
  sdk/docs/sharable/sdk/quickstart/operate/images/devnet-settings-vpn-mac-os.png
  sdk/docs/sharable/sdk/quickstart/operate/images/devnet-validator-start-complete.png
  sdk/docs/sharable/sdk/quickstart/operate/images/devnet-vmnetd-error-message.png
Due: shared_enabled, run-integration-test, run-docs-validation

update to 3.4.9
  quickstart/docker/modules/localnet/compose.env
  quickstart/docker/modules/localnet/compose.yaml
  quickstart/docker/modules/localnet/env/app-provider-auth-on.env
  quickstart/docker/modules/localnet/env/app-user-auth-on.env
  quickstart/docker/modules/localnet/env/sv-auth-on.env
  quickstart/docker/modules/localnet/resource-constraints.yaml
Due: shared_enabled, run-integration-test

update to sdk 3.4.9 (#306)
  quickstart/.env
  quickstart/daml/build.gradle.kts
  quickstart/daml/external-test-sources/splice-amulet-test/daml.yaml
  quickstart/daml/external-test-sources/splice-token-standard-test/daml.yaml
  quickstart/daml/external-test-sources/splice-token-test-trading-app/daml.yaml
  quickstart/daml/external-test-sources/splice-wallet-test/daml.yaml
  quickstart/daml/licensing-tests/daml.yaml
  quickstart/daml/licensing/daml.yaml
  quickstart/docker/modules/localnet/compose.env
  quickstart/docker/modules/localnet/compose.yaml
  quickstart/docker/modules/localnet/env/app-provider-auth-on.env
  quickstart/docker/modules/localnet/env/app-user-auth-on.env
  quickstart/docker/modules/localnet/env/sv-auth-on.env
  quickstart/docker/modules/localnet/resource-constraints.yaml
Due: shared_enabled, run-integration-test

Update poetry.lock
  sdk/poetry.lock
Due: shared_enabled, run-docs-validation

bump scribe
  quickstart/.env
Due: shared_enabled, run-integration-test

sdk 3.4.10
  quickstart/.env
  quickstart/daml/build.gradle.kts
  quickstart/daml/external-test-sources/splice-amulet-test/daml.yaml
  quickstart/daml/external-test-sources/splice-token-standard-test/daml.yaml
  quickstart/daml/external-test-sources/splice-token-test-trading-app/daml.yaml
  quickstart/daml/external-test-sources/splice-wallet-test/daml.yaml
  quickstart/daml/licensing-tests/daml.yaml
  quickstart/daml/licensing/daml.yaml
Due: shared_enabled, run-integration-test

Path conditions:
  shared_enabled: any of: .*
  run-integration-test: any of: (quickstart/.*|.circleci/configs/workflow_test.yml)
  run-docs-validation: any of: (sdk/.*|.circleci/configs/workflow_docs.yml)
